body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p{
    color: #000000;
}

h1, h2, h3, h4, h5, h6{
    color: #000000;
}

ul, ol{
    list-style-type: none;
    text-decoration: none;
}

/*HEADER*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
}

.web{
    color: #2E2F42;
}

.submenu .submenu-list{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.submenu .submenu-list:hover,
.submenu .submenu-list:focus {
    color: #404BBF;
}

.info-content .info-list{
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.info-content .info-list:hover,
.info-content .info-list:focus{
    color: #404BBF;
}

.info{
    font-style: normal;
}

/*TITLE*/
.title{
    background-color: #2E2F42;
}

.title-list{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.btn{
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover, .btn:focus{
    background-color: #404BBF;
}

/*SECTION_1*/
.first-title-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.third-title-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*SECTION_2*/
.second-section{
    background-color: #F4F4FD;
}

.second-title-list{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.second-slider-content{
    background-color: #FFFFFF;
}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*SECTION_3*/
.third-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.name-content{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*FOOTER*/
.footer{
    background-color: #2E2F42;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-footer{
    color: #f4f4fd;
}

.footer-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}